body {
  background-image: url("../img/forest-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  font-family: sans-serif;
  font-size: clamp(16px, 2vw, 20px);
}

.text-box {
  background: rgba(0,0,0,0.7);
  color: white;
  border-radius: 10px;
  padding: 20px;

  width: 90%;            
  max-width: 1200px;     
  aspect-ratio: 16 / 9;  

  margin: 50px auto;     
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;    
}

